[Unit]
Description=GitHub Actions Runner
After=network.target

[Service]
# Start the runner using just-in-time configuration. The jitconfig is loaded using systemd's
# credentials management (https://systemd.io/CREDENTIALS/), which allows it to be set by the
# hypervisor with a single command-line flag.
ExecStart=/bin/sh -c './run.sh --jitconfig "$(cat ${CREDENTIALS_DIRECTORY}/gha-jitconfig)"'
LoadCredential=gha-jitconfig

# Power off the system when a CI run finishes.
ExecStopPost=/usr/bin/sudo /usr/bin/systemctl poweroff

User=gha
Group=gha
WorkingDirectory=/gha

[Install]
WantedBy=multi-user.target
